.App {
  text-align: center;
}
/* #glasses-emoji{
  height: 3.5vh;
  display: inline;
} */

.links{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(60, 199, 199);
  height: 5vh;
  font-size: 2.2vh;
}

.links a{
  text-decoration: none;
  color:rgb(202, 91, 91);
}
.links a:hover{
  color:white;
}

#list-of-lists{
  align-items:left ;
  color:rgb(0, 166, 255);
  text-decoration: none;
  padding: 0.25rem;
}

#list-of-lists-div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
  margin: 0 auto;
}

.search-div{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  width: 30%;
  align-items: center;
  margin: auto;
}

#search{
  font-size: 1rem;
}

#list-search h4{
  color:black;
}


/* LIST SHOW */
#items-listed {
 width: fit-content;
 margin: 0 auto;
 text-align: left;
}

#refresh-list {
  margin-top: 15px;
}

#edit-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

/* calculator */
#numbers-grid{
  display: grid;
  grid-template-columns: repeat(4, 100px);
  margin: 0 auto;
  border: 10px solid orange;
  border-radius: 6px;
  height: fit-content;
  width: fit-content;
}
.numbers{
  border: 1px solid black;
  height: 100px;
  width: 100px;
  font-size: 2.5rem;
}
.numbers:hover{
  background-color: rgb(241, 193, 105);
}
.op{
  color: rgb(41, 139, 132);
}
#equals{
  color:rgb(255, 98, 0);
}
#screen{
  margin: 5px;
  height: 2rem;
  width: 13rem;
  color: blue;
  text-align: right;
  font-size: 1.5rem;
}

.calc-entry{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:active{
  transform: scale(97%);
}
#clear {
  background-color: red;
  color:white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100px;
}
