.App {
  text-align: center;
}
/* #glasses-emoji{
  height: 3.5vh;
  display: inline;
} */

.links{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(60, 199, 199);
  height: 5vh;
  font-size: 2.2vh;
}

.links a{
  text-decoration: none;
  color:rgb(202, 91, 91);
}
.links a:hover{
  color:white;
}

#list-of-lists{
  align-items:left ;
  color:rgb(0, 166, 255);
  text-decoration: none;
  padding: 0.25rem;
}

.search-div{
  display: flex;
  flex-direction: column;
  gap: .25rem;
  width: 30%;
  align-items: center;
  margin: auto;
}

#search{
  font-size: 1rem;
}

#list-search h4{
  color:black;
}

/* calculator */
#numbers-grid{
  display: grid;
  grid-template-columns: repeat(4, 100px);
  margin: 0 auto;
  border: 10px solid orange;
  border-radius: 6px;
  height: fit-content;
  width: fit-content;
}
.numbers{
  border: 1px solid black;
  height: 100px;
  width: 100px;
 
}